@model IWithRootLayout
@{
    Layout = null;
}

<!doctype html>
<html lang="??">
@*TODO: Make lang dynamic*@
<head>
    <meta charset="utf-8" />
    <title>@Model.Layout.Title</title>
    <meta name="description" content="@Model.Layout.Description"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
    <header>
        <div class="visuallyhidden" role="navigation">
            <a href="#main">Hoppa till innehållet</a>
        </div>
        <nav>
            @Model.Layout.CompanyName
        </nav>
    </header>



    <main id="main">
        @RenderBody()
    </main>

    <footer>
        @Model.Layout.FooterText
    </footer>
</body>
</html>
